.slide p{
    margin: 0;
    font-size: 24px;
    font-family: consolas;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 1px #999;
    color: #666;
    line-height: 1.2em;
    padding:.5em 1em;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid blue;
}
.wraper,
.wraper>div{
    width:200px;
    height:200px;
    opacity: .9;
}
.wraper{
    position: absolute;
    top:40%;
    left:50%;
    margin-left:-100px;
    margin-top:-100px;
    border: 1px solid blue;
    -webkit-perspective: 200px;
}
.wraper>div{
    background-color: green;
    z-index: 2;
    -webkit-transition: all 1s linear 0s;
}
.translate{
    -webkit-transform: translate(50%,40px);
}
.translateZplus{
    -webkit-transform: translatez(90px);
}
.translateZminus{
    -webkit-transform: translatez(-90px);
}
.scale{
    -webkit-transform: scale(0.5);
}
.scaleXY{
    -webkit-transform: scaleY(0.5) scaleX(2);
}
.rotate{
    -webkit-transform: rotate(30deg);
}
.rotateX{
    -webkit-transform: rotateX(30deg);
}
.rotateY{
    -webkit-transform: rotateY(45deg);
}
.rotateZ{
    -webkit-transform: rotateZ(60deg);
}
.skew{
    -webkit-transform: skew(60deg);
}
.trans3d{
    -webkit-animation: roty 5s linear 0s infinite normal;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: center center;
}
.trans3d .child{
    height: 100%;
    background-color: lime;
    --webkit-animation: rotx .5s linear 0s infinite normal;
    -webkit-transform-origin: top;
    -webkit-transform: rotateX(30deg);
}
@-webkit-keyframes roty{
    0% {
        -webkit-transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}
@-webkit-keyframes rotx{
    0% {
        -webkit-transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(360deg);
    }
}


body:after {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border:1px solid gray;
    content: "变换{transform} & 过渡[transition] & 动画(animation)";
    font-family: Monaco, Consolas, "Courier New";
    font-size: 20px;
    background: #f0f0f0;
    background: transparent -ms-linear-gradient(-90deg, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
    background: transparent -moz-linear-gradient(-90deg, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
    background: transparent -webkit-gradient(linear, 0 0, 0 50%, from(rgba(240, 240, 240, 0)), to(#f0f0f0));
    padding: 0.5em 1em;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}