/* 水平卷动 */
[data-key="horizontal"] .next {
    left: 510px;
}
[data-key="horizontal"] .prev {
    left: -510px;
}


/* 垂直卷动 */
[data-key="vertical"] .next {
    top: -510px;
}
[data-key="vertical"] .prev {
    top: 510px;
}


/* 立方体外水平旋转 */
[data-key="cubic-horizontal"] {
    -webkit-perspective: 1000px;
}
[data-key="cubic-horizontal"] .next {
    -webkit-transform: translateX(250px) rotateY(90deg) translateX(250px);
}
[data-key="cubic-horizontal"] .prev {
    -webkit-transform: translateX(-250px) rotateY(-90deg) translateX(-250px);
}

/* 立方体内水平旋转 */
[data-key="cubic-horizontal-inner"] {
    -webkit-perspective: 1000px;
}
[data-key="cubic-horizontal-inner"] .next {
    -webkit-transform: translateX(250px) rotateY(-90deg) translateX(250px);
}
[data-key="cubic-horizontal-inner"] .prev {
    -webkit-transform: translateX(-250px) rotateY(90deg) translateX(-250px);
}



/* 立方体垂直旋转 */
[data-key="cubic-vertical"] {
    -webkit-perspective: 1000px;
}
[data-key="cubic-vertical"] .next {
    -webkit-transform: translateY(-250px) rotateX(90deg) translateY(-250px);
}
[data-key="cubic-vertical"] .prev {
    -webkit-transform: translateY(250px) rotateX(-90deg) translateY(250px);
}


/* 立方体内垂直旋转 */
[data-key="cubic-vertical-inner"] {
    -webkit-perspective: 1000px;
}
[data-key="cubic-vertical-inner"] .next {
    -webkit-transform: translateY(-250px) rotateX(-90deg) translateY(-250px);
}
[data-key="cubic-vertical-inner"] .prev {
    -webkit-transform: translateY(250px) rotateX(90deg) translateY(250px);
}


/* 开门 */
[data-key="doors"] {
    -webkit-perspective: 1000px;
}
[data-key="doors"] .next {
    -webkit-transform-origin: top left;
    -webkit-transform: rotateY(-90deg);
}
[data-key="doors"] .prev {
    -webkit-transform-origin: top left;
    -webkit-transform: rotateY(90deg);
}


/* 由远到近 */
[data-key="zoom-in"] .next {
    -webkit-transform: scale(0.8);
    opacity: 0;
}
[data-key="zoom-in"] .prev {
    -webkit-transform: scale(1.2);
    opacity: 0;
}

/* 由近到远 */
[data-key="zoom-out"] .next {
    -webkit-transform: scale(1.2);
    opacity: 0;
}
[data-key="zoom-out"] .prev {
    -webkit-transform: scale(0.8);
    opacity: 0;
}


/* y轴旋转 */
[data-key="rotate-y"] {
    -webkit-perspective: 1000px;
}
[data-key="rotate-y"] .next {
    -webkit-transform: rotateY(180deg);
    opacity: 0;
}

/* z轴旋转 */
[data-key="rotate-z"] .next {
    -webkit-transform: rotateZ(180deg);
    opacity: 0;
}


/* 飞入 */
[data-key="fly"] {
    -webkit-perspective: 1000px;
}
[data-key="fly"] .next {
    -webkit-transform: translate(700px, -500px) scale(0.1) rotateX(90deg) rotateY(-90deg);
}



[data-key="sublime"] .prev {
    -webkit-transform: skewX(90deg) scale(2, 0.1);
}


[data-key="fall"] {
    -webkit-perspective: 1000px;
}
[data-key="fall"] .slide {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.57, 1.16, 0.735, 1.22);
}
[data-key="fall"] .next {
    -webkit-transform: translateY(-220px);
}
[data-key="fall"] .prev {
    box-shadow: 0 0 20px 10px blue, 0 0 1px 2px blue inset;
    -webkit-transition-delay: 0.3s;
}
