---
layout:           default
---
<div id="head">
    <div id="header">
        <div class="nav right">
            <a href="/gossip" title="修养" >屌丝的自我修养</a>
            <a href="/tech" title="技术">屌丝的技术积累</a>
            <a href="/project" title="项目">屌丝的目前成果</a>
            <a href="/about" title="About ShiHongzhi" >关于本人</a>
            <a href="{{ site.feed }}" rel="feed" title="Subscribes The Feed" target="_blank">订阅RSS</a>
        </div><!-- .nav -->
    </div><!-- #header -->
</div><!-- #head -->
<div id="content">
    {{ content }}
</div><!-- #content --> 
<div id="footer">
    <div class="copyright right">
        {% for line in site.copyright %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
</div><!-- #footer -->
